@import 'compass/css3';
@import 'compass/utilities';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=cyrillic,latin,latin-ext);

@import 'globals';
@import 'colors';
@import 'util';

@import 'alerts';
@import 'components';
@import 'defaultstyles';

// =============
// Global layout
// =============

.no-frame #wrap {
  width: 1152px;
  margin: 20px auto;
}

.integrations-list {
  .integration {
    margin-bottom: 20px;
    .more-info {
      display: inline-block;
      vertical-align: middle;
      font-size: $base * 1.2;
      font-weight: $semibold;
      margin-left: 20px;
    }
    .pipe {
      position: relative;
      margin-top: 10px;
      overflow: hidden;
      .large-container, .premium-overlay {
        padding: 25px 30px;
      }
      .loading, .broken {
        display: none;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: #FFF;
        z-index: 1;
        .fa {
          position: absolute;
          font-size: 116px;
          top: 20px;
          opacity: .1;
          left: 34px;
        }
      }
      &.loading>.loading {
        display: block;
      }
      .loading {
        opacity: 0.6;
      }
      .broken {
        opacity: 0.7;
        .fa {
          opacity: .2;
        }
      }
      &.default-step {
        .button.cancel {
          display: none;
        }
      }
      &:not(.default-step) {
        .cog-box {
          display: none !important;
        }
      }
      &.premium {
        .meta {
          display: none;
        }
        p.description {
          margin-bottom: 0;
        }
        .premium-overlay {
          display: block;
        }
        .button.sync, .button.cancel {
          display: none;
        }
      }
      .premium-overlay {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(250,250,250,.6);
      }
    }
    .meta {
      clear: both;
      color: $gray;
      margin-bottom: 0px;
      .last-sync {
        color: $gray-dark;
      }
      .status {
        margin-left: 10px;
        a {
          margin-left: 10px;
        }
        &.error {
          display: inline;
          background: none;
          color: $red;
          padding: 0;
          font-style: normal;
          font-size: inherit;
          .dot {
            background: $red;
          }
        }
        &.success {
          color: $green;
          .dot {
            background: $green;
          }
        }
        &.running {
          color: $orange;
          .dot {
            background: $orange;
          }
        }
      }
      .authorized, .configured, .unauthorized {
        color: $green;
        font-size: $base-font-size * 0.9;
        margin-left: 15px;
        opacity: .9;
        .dot {
          background: $green;
        }
      }
      .unauthorized {
        color: $red;
        .dot {
          background: $red;
        }
      }
    }
    .button.sync {
      margin-left: 20px;
      .fa {
        font-size: 18px;
        vertical-align: middle;
      }
    }
    .log-container {
      position: relative;
      display: none;
      font-size: 11px;
      color: #555;
      margin: 0px -10px 20px;
      background: #fafafa;
      border: 1px dashed #ddd;
      padding: 10px;
      pre {
      }
      a.close-log {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
        color: #999;
        .fa {
          margin-right: 5px;
        }
        &:hover, &:focus  {
          color: #666;
        }
      }
    }
  }
}

.account-selector {
  td, th {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.manual-picker {
  .filter {
    margin-bottom: 10px;
  }
  .table-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    table {
      margin: 0;
    }
  }
}

.oauth1-account-selector {
  .input-suffix {
    padding: 1rem .6rem 1.1rem;
    font-size: $base-font-size * 1.2;
    font-weight: $semibold;
    color: $gray-dark;
    line-height: normal;
  }
}

// HACK, remove when https://github.com/zurb/foundation/issues/4619 happens
.integration-cog .f-dropdown {
  margin-left: -118px;
}

.hide {
  display: none;
}