@import 'compass/css3';
@import 'compass/utilities';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=cyrillic,latin,latin-ext);

@import 'globals';
@import 'flexbox';
@import 'colors';
@import 'util';

@import 'alerts';
@import 'components';
@import 'defaultstyles';
@import 'datepicker';

// =============
// Global layout
// =============

html, body {
  height: auto;
}

.no-frame #wrap {
  width: 1152px;
  margin: 20px auto;
}

.integrations-list {
}
.integration {
  margin-bottom: 20px;
  .pipes-info, .more-info {
    display: inline-block;
    vertical-align: middle;
    font-size: $base * 1.2;
    font-weight: $semibold;
    margin-left: 20px;
  }
}
.pipe, .integration-configuration {
  position: relative;
  overflow: hidden;
  &.default-step {
    .button.cancel {
      display: none;
    }
  }
  &:not(.default-step) {
    .cog-box {
      display: none !important;
    }
  }
  .large-container, .premium-overlay {
    padding: 25px 30px;
  }
  .loading, .broken {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #FFF;
    z-index: 1;
    .fa {
      position: absolute;
      font-size: 116px;
      top: 20px;
      opacity: .1;
      left: 34px;
    }
  }
  &.loading>.loading {
    display: block;
  }
  .loading {
    opacity: 0.6;
  }
  .broken {
    opacity: 0.7;
    .fa {
      opacity: .2;
    }
  }
  .button.setup, .button.sync, .button.cancel {
    margin-left: 20px;
    margin-bottom: 0;
    .fa {
      font-size: 18px;
      vertical-align: middle;
    }
  }
  .meta {
    clear: both;
    color: $gray;
    margin-bottom: 0px;
    .last-sync {
      color: $gray-dark;
    }
    .status {
      margin-left: 10px;
      a {
        margin-left: 10px;
      }
      &.error {
        display: inline;
        background: none;
        color: $red;
        padding: 0;
        font-style: normal;
        font-size: inherit;
        .dot {
          background: $red;
        }
      }
      &.success {
        color: $green;
        .dot {
          background: $green;
        }
      }
      &.running {
        color: $orange;
        .dot {
          background: $orange;
        }
      }
    }
  }
}

.pipe {
  &.row { margin-top: 10px; }
  &.premium {
    .meta {
      display: none;
    }
    p.description {
      margin-bottom: 0;
    }
    .premium-overlay {
      display: block;
    }
    .button.sync, .button.cancel {
      display: none;
    }
  }
  .premium-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250,250,250,.6);
  }
  .configured {
    color: $green;
    margin-left: 15px;
    opacity: .9;
    .dot {
      background: $green;
    }
  }
  .unauthorized {
    color: $red;
    .dot {
      background: $red;
    }
  }
  .log-container {
    position: relative;
    display: none;
    font-size: 11px;
    color: #555;
    margin: 0px -10px 20px;
    background: #fafafa;
    border: 1px dashed #ddd;
    padding: 10px;
    pre {
    }
    a.close-log {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      color: #999;
      .fa {
        margin-right: 5px;
      }
      &:hover, &:focus  {
        color: #666;
      }
    }
  }
}

.integration-configuration {
  form {
    margin-bottom: 0;
  }
  p {
    margin: 13px 0;
    font-size: 1.1rem;
  }
  .meta {
    margin: 0;
    .status {
      margin: 0;
    }
  }
  .loading .fa, .broken .fa {
    font-size: 61px;
  }
}

.account-selector {
  td, th {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.manual-picker {
  .filter {
    margin-bottom: 10px;
  }
  .table-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    table {
      margin: 0;
    }
    tr.empty td {
      color: #aaa;
      font-style: italic;
    }
  }
  .custom-options {
    padding: .8rem .5rem;
    .checkbox {
      margin: 0 .75rem 0;
      font-size: $base * 1.1;
      color: #444;
    }
  }
}

.oauth1-account-selector {
  margin: 20px 0;
  .input-suffix {
    padding: 1rem .6rem 1.1rem;
    font-size: $base-font-size * 1.2;
    font-weight: $semibold;
    color: $gray-dark;
    line-height: normal;
  }
}

.datepicker-step {
  margin: 20px 0;
}

// HACK, remove when https://github.com/zurb/foundation/issues/4619 happens
.integration-cog .f-dropdown {
  margin-left: -118px;
}

.hide {
  display: none;
}

#content.obm20 {
  .cog-box {
    display: none;
  }
  .container-title {
    display: none;
  }
  .meta {
    display: none;
    // .configured {
    //   display: none;
    // }
    // .unauthorized {
    //   display: none;
    // }
  }
  .description-container {
    width: 100%;
  }
  .controls-container {
    display: none;
  }
  .button.sync {
    display: none;
  }
  .button.setup {
    display: none;
  }
  .button.cancel {
    display: none;
  }
  .integration {
    >.large-container {
      padding: 0;
      @include box-shadow(none !important);
      background: transparent;
    }
  }
  .oauth1-account-selector {
    >.row>.small-10 {
      width: 100%;
    }
    >.row>.small-6 {
      width: 50%;
    }
    >.row>.small-4 {
      width: 20%;
    }
    >.row>.input-suffix {
      width: 30%;
    }
  }
}