<table class="data-table account-selection">
  <thead>
    <tr>
      <th class="col-name">Choose your account</th>
      <th class="col-choose"></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < accounts.length ; i++) { %>
      <tr class="entry">
        <td class="col-name">
          <span class="ellipsis" title="<%- accounts[i].name %>"><%- accounts[i].name %></span>
        </td>
        <td class="col-choose">
          <button class="button select-account" data-id="<%- accounts[i].id %>">Select</button>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>