<label class="space-after"><%= title %></label>
<div class="manual-picker">
  <div class="filter">
    <input type="text" name="filter" placeholder="Filter objects" class="filter" />
  </div>
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-checkbox">
            <div class="button checkbox">
              <input type="checkbox" name="mark" class="custom checkbox" />
              <span class="checkbox"></span>
            </div>
          </th>
          <% for(var i = 0; i < columns.length ; i++) { %>
            <th class="col-<%- columns[i].key %>"><%= columns[i].label %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < objects.length ; i++) { %>
          <tr class="entry" data-id="<%- objects[i].foreign_id %>">
            <td class="col-checkbox">
              <div class="button checkbox">
                <input type="checkbox" name="mark" class="custom checkbox" data-id="<%- objects[i].foreign_id %>" />
                <span class="checkbox"></span>
              </div>
            </td>
            <% for(var c = 0; c < columns.length ; c++) { %>
              <td class="col-<%- columns[c].key %>">
                <span class="ellipsis" title="<%- objects[i][columns[c].key] %>"><%- objects[i][columns[c].key] %></span>
              </td>
            <% } %>
          </tr>
        <% } %>
        <tr class="empty" style="display: none">
          <td></td>
          <td colspan="<%- columns.length %>">No results found...</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="custom-options left">
    <% for(var i = 0; i < customOptions.length ; i++) { %>
      <label class="checkbox" for="cb-<%- customOptions[i].key %>">
        <input type="checkbox" id="cb-<%- customOptions[i].key %>" name="<%- customOptions[i].key %>" class="custom checkbox"<% if(customOptions[i].checked) { %> checked="checked"<% } %> />
        <span class="checkbox<% if(customOptions[i].checked) { %> checked<% } %>"></span>
        <span class="checkbox-label"><%= customOptions[i].label %></span>
      </label>
    <% } %>
  </div>
  <button class="button submit right">Next &raquo;</button>
</div>