<p class="title bigger-text">Select objects to import</p>
<div class="manual-picker">
  <div class="filter">
    <input type="text" name="filter" placeholder="Filter objects" class="filter" />
  </div>
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-checkbox">
            <div class="button checkbox">
              <input type="checkbox" name="mark" class="custom checkbox" />
              <span class="checkbox"></span>
            </div>
          </th>
          <% for(var i = 0; i < columns.length ; i++) { %>
            <th class="col-<%- columns[i].key %>"><%= columns[i].label %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < objects.length ; i++) { %>
          <tr class="entry" data-id="<%- objects[i].id %>">
            <td class="col-checkbox">
              <div class="button checkbox">
                <input type="checkbox" name="mark" class="custom checkbox" data-id="<%- objects[i].id %>" />
                <span class="checkbox"></span>
              </div>
            </td>
            <% for(var c = 0; c < columns.length ; c++) { %>
              <td class="col-<%- columns[c].key %>">
                <span class="ellipsis" title="<%- objects[i][columns[c].key] %>"><%- objects[i][columns[c].key] %></span>
              </td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <button class="button submit right">Next &raquo;</button>
</div>