
<p class="title bigger-text">Select users to import</p>
<div class="manual-picker">
  <div class="filter">
    <input type="text" name="filter" placeholder="Filter objects" />
  </div>
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th class="col-checkbox">
            <div class="button checkbox">
              <input type="checkbox" name="mark" class="custom checkbox" />
              <span class="checkbox"></span>
            </div>
          </th>
          <th class="col-fullname">Name</th>
          <th class="col-email">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class="entry">
          <td class="col-checkbox">
            <div class="button checkbox">
              <input type="checkbox" name="mark" class="custom checkbox" />
              <span class="checkbox"></span>
            </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
        <tr class="entry">
          <td class="col-checkbox">
          <div class="button checkbox">
            <input type="checkbox" name="mark" class="custom checkbox" />
            <span class="checkbox"></span>
          </div>
          </td>
          <td class="col-fullname">
            <span class="entry-fullname" title="Aa">Aa</span>
          </td>
          <td class="col-email">
            <span class="entry-email" title="aa@aa.ee">aa@aa.ee</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>