<table class="data-table account-selection">
  <thead>
    <tr>
      <th class="col-name">Account</th>
      <th class="col-choose"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="entry">
      <td class="col-name">
        <span class="ellipsis" title="SomeAccount">SomeAccount</span>
      </td>
      <td class="col-choose">
        <button class="button choose-account">Select</button>
      </td>
    </tr>
      <td class="col-name">
        <span class="ellipsis" title="SomeAccount">SomeAccount</span>
      </td>
      <td class="col-choose">
        <button class="button choose-account">Select</button>
      </td>
    </tr>
      <td class="col-name">
        <span class="ellipsis" title="SomeAccount">SomeAccount</span>
      </td>
      <td class="col-choose">
        <button class="button choose-account">Select</button>
      </td>
    </tr>
  </tbody>
</table>