<a class="button dropdown" data-dropdown="<%= _id %>">
  <i class="fa fa-cog title"></i>
</a>
<ul class="f-dropdown" id="<%= _id %>" data-dropdown-content>
  <% _.each(groups, function(group) { %>
    <% if (group.title) { %>
      <li class="title"><%= group.title %></li>
    <% } %>
    <% _.each(group.items, function(item) { %>
      <% if(item.skipped) return; %>
      <% if (item.divider) { %>
        <li class="divider"></li>
      <% } else { %>
        <li class="<%= item.active ? 'active' : '' %>">
          <a href="#" class="<%= item.disabled ? 'disabled' : '' %>" data-name='<%= item.name %>'><%= item.label %></a>
        </li>
      <% } %>
    <%  }) %>
  <% }) %>
</ul>
