<div class="loading">
  <i class="fa fa-refresh spinning"></i>
</div>

<div class="broken">
  <i class="fa fa-exclamation-triangle"></i>
</div>

<div class="row large-container light">

  <div class="left small-16 columns">
    <p class="description">
      Integration needs to be enabled by linking it with an account.
      Click <strong>"Enable"</strong> to set it up!
    </p>
  </div>

  <div class="right small-8 columns">
    <button class="button pink-bg wide right setup"><i class="fa fa-arrow-circle-right"></i><span class="button-label">Enable</span></button>
    <button class="button white-bg wide right cancel"><i class="fa fa-times"></i><span class="button-label">Cancel</span></button>
  </div>

  <div class="small-24 columns">

    <div class="step-container"> <!-- service configuration step contents (oauth and whatever) -->
    </div>

    <% if (error) { %>
      <p class="meta">
        <span class="status error">
          <%- error %>
        </span>
      </p>
    <% } %>

  </div>

</div>