<div class="small-24 columns large-container dark">

  <h1 class="space-after container-title">

    <% if(model.get('image')) { %>
      <img src="<%- model.get('image') %>" alt="<%- model.get('name') %>" />
    <% } else { %>
      <%- model.get('name') %>
    <% } %>

    <% if(showPipeTitles) { %>
      <span class="pipes-info"><%- pipeTitles %></span>
    <% } %>

    <div class="cog-box right integration-cog"></div>

    <% if(model.get('link')) { %>
      <a href="<%- model.get('link') %>" class="underline blue-text more-info" target="_blank">More info</a>
    <% } %>

  </h1>

  <div class="integration-configuration">
  </div>

  <div class="pipes-list">
  </div>

</div>
