  Last import:
<% if(model.getLastSync()) { %>
  <span class="last-sync"><%- model.getLastSyncHuman() %></span>
<% } else { %>
  <span class="last-sync never">never</span>
<% } %>

<span class="status <%- model.getStatus() %>">

  <i class="dot"></i>

  <%- model.getStatusMessage() %>

  <% if(model.getLogLink() && model.getStatus() != 'running') { %>
    <a href="<%- model.getLogLink() %>" class="blue-text underline log">View log for details</a>
  <% } %>

</span>

<% if(model.get('configured')) { %>
  <span class="configured right">
    <i class="dot"></i> Configured
  </span>
<% } %>

<% if(model.collection.integration.get('authorized')) { %>
  <span class="authorized right">
    <i class="dot"></i> Authorized
  </span>
<% } %>
