<div class="row pipe">
  <div class="small-24 columns large-container light">

    <div class="left small-18 columns">
      <p class="name bigger-text space-after">
        <%- model.get('name') %>
        <% if(model.get('automatic')) { %>
          <span class="pill-box automatic green"><span>Automatic</span></span>
        <% } %>
      </p>
      <p class="description">
        <%- model.get('description') %>
      </p>
      <p class="meta">
        Last import:
        <span class="last-sync"><%- model.get('last_sync').date %></span>
        <span class="status <%- model.get('status').type %>">
          <i class="dot"></i>
          <%- model.get('status').message %>
          <% if(model.get('last_sync').log_url) { %>
            <a href="<%- model.get('last_sync').log_url %>" class="blue-text underline">View log for details</a>
          <% } %>
        </span>
      </p>
    </div>

    <div class="right small-6 columns">
      <button class="button green wide right sync"><i class="fa fa-refresh"></i>Sync now</button>
      <div class="cog-box right"></ul>
      </div>
    </div>

  </div>
</div>
