  Last import:
<% if(model.lastSync()) { %>
  <span class="last-sync"><%- model.lastSyncHuman() %></span>
<% } else { %>
  <span class="last-sync never">never</span>
<% } %>

<span class="status <%- model.status() %>">

  <i class="dot"></i>

  <%- model.statusMessage() %>

  <% if(model.logLink()) { %>
    <a href="<%- model.logLink() %>" class="blue-text underline">View log for details</a>
  <% } %>

</span>

<% if(model.get('configured')) { %>
  <span class="configured right">
    <i class="dot"></i> Configured
  </span>
<% } %>

<% if(model.collection.integration.get('authorized')) { %>
  <span class="authorized right">
    <i class="dot"></i> Authorized
  </span>
<% } %>
