<div class="loading">
  <i class="fa fa-refresh spinning"></i>
</div>

<div class="small-24 columns large-container light">

  <div class="left small-17 columns">
    <p class="name bigger-text space-after">
      <%- model.get('name') %>
      <% if(model.get('automatic')) { %>
        <span class="pill-box automatic green"><span>Automatic</span></span>
      <% } %>
    </p>
    <p class="description">
      <%- model.get('description') %>
    </p>
  </div>

  <div class="right small-7 columns">
    <button class="button green wide right sync"><i class="fa fa-refresh"></i><span class="button-label">Sync now</span></button>
    <div class="cog-box right">
    </div>
  </div>

  <div class="small-24 columns">

    <div class="step-container">
    </div>

    <div class="log-container">
      <a href="#" class="close-log"><i class="fa fa-times"></i>close log</a>
      <pre></pre>
    </div>

    <p class="meta">
    </p>

  </div>

</div>
